@import '../../../../styles/variable';

.container {
  box-sizing: border-box;
  font-size: 12px;
  max-height: 100%;
  overflow-y: auto;
  padding: 5px;

  .item {
    @include flex-justify-between;

    border: 1px solid transparent;
    margin-top: -1px;
    padding: 7px 10px;
    user-select: none;

    &.active {
      border-color: rgb(var(--arcoblue-4));
    }

    .icon {
      margin-right: 5px;
    }

    >.title,
    >.op {
      @include flex-align-center;

      cursor: pointer;
    }
  }
}
