@import '../../styles/variable';

$panel-width: 260px;
$panel-border: 1px solid var(--color-border-2);

.container {
  border-right: $panel-border;
  flex-shrink: 0;
  width: $panel-width;

  :global(.arco-tabs-content) {
    padding-top: 0;
  }
}
