@import '../../styles//variable';

.container {
  @include flex-align-center;
  @include flex-justify-between;

  background-color: var(--color-bg-1);
  border-bottom: 1px solid var(--color-border-2);
  box-sizing: border-box;
  height: 50px;
  padding: 0 10px;

  .opGroup {
    @include flex-align-center;

    .op {
      @include flex-center;
      @include border-radius-3;

      cursor: pointer;
      font-size: 18px;
      height: 23px;
      margin-left: 10px;
      padding: 3px;
      width: 23px;

      &:hover {
        background-color: var(--color-fill-1);
      }

      &.active {
        background-color: var(--color-fill-2);
      }
    }
  }

  .externalGroup {
    @include flex-align-center;

    user-select: none;

    .history {
      @include flex-align-center;

      :global {
        .arco-btn-text {
          @include flex-center;

          color: var(--color-text-1);
          cursor: pointer;
          margin-top: -1px;
          padding: 3px;

          &.arco-btn-disabled {
            color: var(--color-text-4);
          }
        }
      }
    }

    .export {
      border-radius: 3px;
      color: var(--color-text-1);
      cursor: pointer;
      font-size: 12px;
      margin-left: 3px;
      margin-right: 8px;
      margin-top: -1px;
      padding: 3px 6px;

      &:hover {
        background-color: var(--color-fill-2);
      }
    }

    .github {
      color: var(--color-text-1);
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
