@import './variable';

html,
body {
  @include full-screen;
  @include no-scrollbar;

  color: var(--color-text-1);
  margin: 0;
  padding: 0;
  user-select: none;
}

// :global(#root) {}
/* stylelint-disable-next-line selector-max-id */
#root {
  @include full-screen;
}
