.container {
  background-color: var(--color-fill-2);
  position: relative;

  .canvas {
    background-color: #fff;
  }
}

@media print {
  .container {
    background-color: none;

    .canvas {
      background-color: #fff;
    }
  }
}
