@import '../../styles/variable';
$width: 300px;

.container {
  border-radius: 6px;
  bottom: 20px;
  box-sizing: border-box;
  color: var(--color-text-1);
  flex-shrink: 0;
  max-height: calc(100% - 60px);
  position: absolute;
  right: 16px;
  top: 16px;
  transition: right 0.2s linear;
  user-select: none;
  width: $width;
  z-index: 1;

  .scroll {
    @include frame-border;
    @include no-scrollbar;

    height: 100%;
    overflow-y: auto;
    padding: 10px 15px;
  }

  .op {
    @include flex-center;

    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border-2);
    border-radius: 50%;
    color: var(--color-text-2);
    cursor: pointer;
    font-size: 14px;
    height: 26px;
    overflow: visible;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: rotate(45deg);
    transition: all 0.1s linear;
    width: 26px;
    z-index: 2;
  }

  &.collapse {
    height: 0;
    width: 0;

    .scroll {
      padding: 0;
    }

    .op {
      transform: rotate(0deg);
    }
  }

  .rect {
    $margin: 15px;
    $offset: 196px;

    display: flex;
    position: relative;

    .pos {
      color: var(--color-text-2);
      font-size: 12px;
      position: absolute;
    }

    .lt {
      right: $offset;
      top: $margin;
    }

    .rt {
      left: $offset;
      top: $margin;
    }

    .lb {
      bottom: $margin;
      right: $offset;
    }

    .rb {
      bottom: $margin;
      left: $offset;
    }

    .content {
      border: 1px solid var(--color-border-4);
      height: 70px;
      margin: $margin 80px;
      width: 100%;
    }
  }
}
