@import '../../styles/variable';
$width: 300px;

.container {
  @include frame-border;

  bottom: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  max-height: calc(100% - 30px);
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: right 0.2s linear;
  width: $width;
  z-index: 1;
}
